DATABASE_URL=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_ACCOUNT_ID=
META_APP_ID=
META_APP_SECRET=
META_GRAPH_API_VERSION=v25.0
META_WEBHOOK_VERIFY_TOKEN=
INSTAGRAM_PROFILE_URL=https://www.instagram.com/deon_tech/
PUBLIC_SITE_URL=https://deonmenezes.com
SOCIAL_ADMIN_PASSWORD_HASH=
SOCIAL_SESSION_SECRET=
CRON_SECRET=
